html
    head
        title GoChat
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', type="text/css"  href='/assets/styles/style.css')
    body
        #main
            form
                p Welcome <b> #{current.Name}
                p Pick a friend to chat from the list below to go chat!

                each friend in friends
                    img.image(src='/assets/images/user.png' width=50)
                    a(href='#' onclick="chatNow('" + friend.UserId + "','"  + current.UserId +"')")  #{friend.Name}

        script.
            function chatNow(to, from) {
                console.log(to)
                console.log(from)
                window.location.href = '/sendMessage?to='+to;
            }